<ion-header>
  <ion-toolbar>
    <ion-title>
      Pizza Palace
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    
  <ion-card>
        <ion-card-header>
          <ion-card-title>Create Your Own Pizza</ion-card-title>
        </ion-card-header>
          
        <ion-card-content>
      
          <form action="">

            <!-- Crust -->
              <ion-radio-group>

                <ion-list-header>
                  <ion-label>Crust</ion-label>
                </ion-list-header>
                    
                <ion-item>
                  <ion-label>Thin</ion-label>
                  <ion-radio slot="start" value="thin"></ion-radio>
                </ion-item>
                
                <ion-item>
                   <ion-label>Original</ion-label>
                   <ion-radio slot="start" value="original"></ion-radio>
                </ion-item>
              </ion-radio-group>

                <!-- Size -->
                    <ion-radio-group>
    
                      <ion-list-header>
                        <ion-label>Size</ion-label>
                      </ion-list-header>
                        
                      <ion-item>
                        <ion-label>Small</ion-label>
                        <ion-radio slot="start" value="small"></ion-radio>
                      </ion-item>
                    
                      <ion-item>
                        <ion-label>Medium</ion-label>
                        <ion-radio slot="start" value="medium"></ion-radio>
                      </ion-item>

                      <ion-item>
                          <ion-label>Large</ion-label>
                          <ion-radio slot="start" value="medium"></ion-radio>
                        </ion-item>
                      
                      </ion-radio-group>

                <!-- Toppings -->
<ion-label>Toppings</ion-label>
<ion-checkbox color="secondary" value="pepperoni">Pepperoni</ion-checkbox>
<ion-checkbox color="secondary" value="sausage">Sausage</ion-checkbox>
<ion-checkbox color="secondary" value="can_bac">Canadian Bacon</ion-checkbox>
<ion-checkbox color="secondary" value="sp_ital_sausage">Spicy Italian Sausage</ion-checkbox>
<ion-checkbox color="secondary" value="bacon">Bacon</ion-checkbox>

                

<!-- Input with placeholder -->
<ion-input placeholder="Enter Input"></ion-input>

<!-- Input with clear button when there is a value -->
<ion-input clearInput value="clear me"></ion-input>

<!-- Number type input -->
<ion-input type="number" value="333"></ion-input>

<!-- Disabled input -->
<ion-input value="Disabled" disabled></ion-input>

<!-- Readonly input -->
<ion-input value="Readonly" readonly></ion-input>

<!-- Inputs with labels -->
<ion-item>
  <ion-label>Default Label</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Floating Label</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="fixed">Fixed Label</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">Stacked Label</ion-label>
  <ion-input></ion-input>
</ion-item>
          </form>
        </ion-card-content>
      </ion-card>
</ion-content>
