<ion-header>
  <ion-toolbar>
    <ion-title>
      Pizza Palace
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
  <ion-card>
        <ion-card-header>
          <ion-card-title>Create Your Own Pizza</ion-card-title>
        </ion-card-header>
          
        <ion-card-content>
      
          <form>

            <!-- Crust -->
            <ion-radio-group>

              <ion-list-header>
                <ion-label>Crust</ion-label>
              </ion-list-header>
                    
              <ion-item>
                <ion-label>Thin</ion-label>
                <ion-radio slot="start" value="thin"></ion-radio>
              </ion-item>
                
              <ion-item>
                  <ion-label>Original</ion-label>
                  <ion-radio slot="start" value="original"></ion-radio>
              </ion-item>
            </ion-radio-group>

            <!-- Size -->
            <ion-radio-group>
    
              <ion-list-header>
                  <ion-label>Size</ion-label>
              </ion-list-header>
                        
              <ion-item>
                  <ion-label>Small</ion-label>
                  <ion-radio slot="start" value="small"></ion-radio>
              </ion-item>
                    
              <ion-item>
                  <ion-label>Medium</ion-label>
                  <ion-radio slot="start" value="medium"></ion-radio>
              </ion-item>

              <ion-item>
                  <ion-label>Large</ion-label>
                  <ion-radio slot="start" value="medium"></ion-radio>
              </ion-item>  
            </ion-radio-group>

            <!-- Toppings -->
            <h2>Toppings</h2>
            <div>
              <ion-label>Pepperoni</ion-label>
              <ion-checkbox color="secondary" value="pepperoni"></ion-checkbox>

              <ion-label>Sausage</ion-label>
              <ion-checkbox color="secondary" value="sausage"></ion-checkbox>

              <ion-label>Canadian Bacon</ion-label>
              <ion-checkbox color="secondary" value="can_bac"></ion-checkbox>

              <ion-label>Spicy Italian Sausage</ion-label>
              <ion-checkbox color="secondary" value="sp_ital_sausage"></ion-checkbox>

              <ion-label>Bacon</ion-label>
              <ion-checkbox color="secondary" value="bacon"></ion-checkbox>
            </div>

            <!-- Delivery Address -->
            <h2 style="padding-top:25px">Delivery Address</h2>
            <div>
              <ion-item>
                <ion-label position="stacked">Street</ion-label>
                <ion-input></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">City</ion-label>
                <ion-input></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">State</ion-label>
                <ion-input></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Zip Code</ion-label>
                <ion-input type="number"></ion-input>
              </ion-item>
              </div>

            <div id="button">
              <button type="submit" class="ion-activatable">
                <ion-ripple-effect></ion-ripple-effect>
                <ion-icon name="send"></ion-icon>
              </button>
            </div>

          </form>

        </ion-card-content>
      </ion-card>
</ion-content>
